* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #f3f5fc;
  padding: 1.5em;
}
h1 {
  margin: 1em;
}
.section-texto {
  width: 50%;
  margin: 10% auto;
}
/* TEXTAREA */
.textarea-texto {
  width: 100%;
  min-height: 58vh;
  font-size: 30px;
  border: none;
  color: #0a3871;
  background-color: #f3f5fc;
  border: none;
  outline: none;
}
::placeholder {
  color: #0a3871;
}

.aclaracion {
  font-size: 12px;
  color: #495057;
}
.aclaracion i {
  font-size: 17px;
  padding: 0 0.5%;
}
/* BOTONES TEXAREA */
.contenedor-botones {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.btns {
  font-size: 14px;
  min-width: 49%;
  height: 5em;
  border-radius: 24px;
}
.btn-azul {
  background: #0a3871;
  color: #ffffff;
  border: none;
}
.btn-gris {
  background: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
}

/* --- ENCRIPTADOR --- */
.msj-vacio,
.encriptar {
  height: 95%;
  background: #ffffff;
  width: 21%;
  border-radius: 32px;
  margin: auto;
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(224, 224, 224, 1);
}
.img-muñeco {
  display: block;
  margin: 40% auto 8%;
  background-color: #ffffff;
  max-width: 100%;
  height: auto;
}
.ningun-msj {
  font-size: 24px;
  font-weight: bold;
  padding: 0 2em;
  text-align: center;
}
.p-encriptado {
  padding: 1.5em 2em;
}
/* TEXTO ENCRIPTADO */
.texto-resultado {
  width: 75%;
  color: #495057;
  background-color: #ffffff;
  margin: 20% auto 0 auto;
  height: 70vh;
  font-size: 24px;
}

.btn-copiar {
  font-size: 14px;
  width: 80%;
  height: 5em;
  border-radius: 24px;
  background: #ffffff;
  color: #0a3871;
  border: 1px solid #0a3871;
  /* margin-bottom: 5%; */
}

/* media queries */
@media (max-width: 1090px) {
  .ningun-msj {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0;
  }
  h1 {
    margin: 0.5em;
  }
  .img-muñeco {
    display: none; /* Oculta la imagen en pantallas de 768px o menos */
  }
  .section-texto {
    width: 85%;
    margin-bottom: 7%;
  }
  .contenedor-botones {
    width: 100%;
    margin: 2% auto;
  }
  .msj-vacio {
    width: 90%;
    /* height: 133px; */
    height: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 1.5em;
  }
  .encriptar {
    height: auto;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .texto-resultado {
    height: auto;
    width: 90%;
    padding: 1em;
    margin: 2% auto;
  }
  .btn-copiar {
    margin-bottom: 2em;
  }
}
@media (max-width: 375px) {
  .contenedor-botones {
    display: flex;
    flex-direction: column;
    /* height: 158px; */
    gap: 15px;
  }
  .btns {
    height: 5em;
  }
  .textarea-texto {
   min-height: 42vh;
  }
}
